<% unless @challenge.errors.empty? %>
  <div id="field_with_errors">
    <h3><%= pluralize(@challenge.errors.count, "error") %> prohibited this object from being saved:</h3>
    <ul>
    <% @challenge.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
